.chat_main
  .chat_main__group-info
    .chat_main__group-info__left-box
      .chat_main__group-info__left-box__group-name
        = @group.name
      .chat_main__group-info__left-box__member-list
        Member:
        - @group.users.each do |user|
          = user.name
    .chat_main__group-info__right-box
      .chat_main__group-info__right-box__edit-box
        = link_to edit_group_path(@group) do
          Edit 
  .chat_main__message-list
    = render @messages
  .chat_main__message-form
    = form_with model: [@group, @message], html: { class: "new-message" }, local: true do |f|
      .input-box
        = f.text_field :content, class: "input-box__left-box", placeholder: "type a message"
        = f.label :image, class: "input-box__images" do
          = icon('fas', 'image')
          = f.file_field :image, class: "input-box__images__file"
      = f.submit 'Send', class: 'new-message__send-btn'